{% extends "./base.html" %}

{%block content%}
<div class="wordcard">
  <img src="static\profilepic.jpg" alt="profilepic">
  <div class= "word">
  <h1 id="remark">Welcome...!</h1>
  <h5><i>My name is Njoku Chinasa Enyoka. I used to be a Structural Engineer by trade. Now, I like to think I have retired. I am currently at a place where Finance meetsTechnology. You can read more about this place <a href="{%url 'profilepage'%}"><span>here...</span></a><i></h5>
  <h4>Word On The Marble:</h4>
  <p>Remember, "We Are All Confident Idiots..."</p>
  </div>
  
  <div>

  </div>
</div>
{%endblock%}
